@import "../../../../assets/styles/color";
.container {
  padding-top: 5em;
}

.row {
  @media only screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: 50% auto;
  }
}
.success {
  margin: 0 2em;
}

.image__ {
  min-height: 15em;
  @media only screen and (max-width: 600px) {
    height: 10em;
  }
  img {
    height: auto;
    overflow: hidden;
    width: 100%;

    // @media only screen and (max-width: 600px) {
    //   height: 10em;
    // }
  }
}
