<div class="container" *ngIf="!productId">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Products</li>
    </ol>
  </nav>
  <div class="row" *ngIf="allProducts && allProducts.length">
    <div class="col-lg-3" *ngFor="let product of allProducts  | searchproductshome:searchString; let i = index">
      <app-altra-product-details [product]="product"></app-altra-product-details>

    </div>
  </div>

</div>



<app-altra-product-details *ngIf="productId && product" [product]="product" [productId]="productId">
</app-altra-product-details>