<!-- <app-loader [showLoader]="showLoader" *ngIf="showLoader"></app-loader> -->

<div *ngIf="order" class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard/invoices/all">Orders List</a></li>
      <li class="breadcrumb-item active" aria-current="page">Create order</li>
    </ol>
  </nav>

  <br>

  <app-altra-order-steps [order]="order" [page]="step"></app-altra-order-steps>

  <div class="row">

    <app-customer-selector *ngIf="step == 'customer'" 
      [user]="user"></app-customer-selector>

      <app-item-selector *ngIf="step == 'products'" ></app-item-selector>

      <app-altra-delivery *ngIf="step == 'shipping'"></app-altra-delivery>

      <app-order-success-admin *ngIf="step == 'success'" [orderId]="orderId"></app-order-success-admin>
  </div>
</div>


