@import '../../../assets/styles/color';
.container {
  padding: 6em 0;

  .form-group {
    margin-bottom: 3em;
  }

  .card {
    @media only screen and (max-width: 600px) {
      margin: 1em;
    }
  }
}
