@import '../../../../../assets/styles/color';
.col-lg-12{
    @media only screen and (max-width: 600px) {
        margin-top: 2.5em;
      }
}

.btn-carousel {
  color: $primary !important;
  font-size: 1.5em !important;
}