@import '../../../../assets/styles/color';


.top-bar {
  grid-template-columns: 3% auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 10% auto;
  }

}

.dasboard {
  max-width: $max-width;
  margin: .5em auto;


  @media only screen and (max-width: 600px) {
    max-width: auto;
    width: 100%;

  }
}

.main {
  // display: grid;
  // grid-template-columns: 17em auto;
  // max-width: 100em;
  margin: .5em auto;
  // height: 100vh;
  // overflow-y: scroll;

  @media only screen and (max-width: 600px) {
    // grid-template-columns: 100%;
    // max-width: auto;
    width: 100%;
  }
}

.nav-cols {
  display: grid;
  grid-template-columns: 18em auto;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 100%;

  }
}

.page-section {
  width: 100%;
}

.user {
  display: grid;
  grid-template-columns: 72% 5% auto;
  background: $white;
  padding: 1em 2em;
}

.user-name {
  padding: .6rem 0;
  color: $primary;

  font-weight: 500;
}

.body {
  padding: 0;
  padding: 0;
  padding-top: 2.5em;
  // height: 90vh;
  // overflow-y: scroll;

}

.pop {
  position: fixed;
  background: $secondary;
  color: $black;
  padding: 1em;
  font-weight: 600;
  width: 90%;
  left: 5%;
  bottom: 1rem;
  border-radius: .5em;
  box-shadow: $box-shadow;
  z-index: 9999999999;
  animation: moveInButton .2s ease-in-out 0s;
  text-align: center;
  display: grid;
  grid-template-columns: 90% auto;

  //   animation-fill-mode: backwards;
  p {
    padding: 0;
    margin: 0;
  }

  span {
    top: 0;
    margin: 0;
  }
}

.loading {
  h3 {
    width: 100%;
    text-align: center;
    color: $pop-darker;
  }
}

.mat-spinner {
  margin: 10% auto;
  margin-bottom: 2em;



  @media only screen and (max-width: 600px) {
    margin: 50% auto;
    margin-bottom: 2em;
  }
}

.loading ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $pop-darker;
}





.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: $cloud;
  font-size: .85em;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active-link {
  color: $primary;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active-link .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.nav-item {
  padding: .2222em 1em;
}

.router-outlet {
  padding: 3em;
  @media only screen and (max-width: 800px) {
    padding: 3em .5em;
  }
}

// .nav {
//   @media only screen and (max-width: 800px) {
//     display: none;
//   }
// }
