@import "../../../../assets/styles/color";

.__dashboard {
  display: grid;
  grid-template-columns: 18.5em auto;
  @media only screen and (max-width: 600px) {
    display: block;
  }
  ._outlet {
    padding: 1em;
    padding-left: 3em;
    @media only screen and (max-width: 600px) {
      padding-top: 6em;
      padding-left: 1em;
    }
  }
}
