<div class="__dashboard">
  <app-dash-nav></app-dash-nav>
  <div class="_outlet">
    <router-outlet></router-outlet>
  </div>
</div>
<p-toast position="top-right" baseZIndex="9999999999"></p-toast>


<!-- <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" *ngIf="user" routerLink="/admin/dashboard"
    routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Hi, {{user.Name}}</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3 pointer" (click)="logout()">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid ">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar pc-only">
      <div class="position-sticky pt-3">
      
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>


    </main>
  </div>
</div> -->