
              <div class="card" *ngIf="item">
                <div class="card-body">
                  <h6>
                   Feature Section
                  </h6>


                  <select name="" id="" [(ngModel)]="item.Description" class="form-control">
                    <option value="dark-nav">Dark Theme</option>
                    <option value="light-nav">Light Theme</option>
                  </select>

                  <br>
                  <button class="btn btn-primary" (click)="save()">Save layout</button>

                </div>
              </div>