@import "../../../../../../assets/styles/color";
.container {
  padding: 5em 18em;
  width: 100%;
  height: 100%;
  min-height: 100vh !important;
  max-width: 100% !important;
  background: $white;
  @media only screen and (max-width: 600px) {
    padding: 8em 1em;
  }
  
  .cat {
    background: rgb(209, 209, 209);
    height: 8em;
    background-size:cover;
    background-repeat: no-repeat;
    padding: 1em;
    border-radius: 0.2em;
    position: relative;
    background-position: bottom;

    @media only screen and (max-width: 600px) {
      margin: .5em;
    }

    button {
      position: absolute;
      bottom: 1em;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.4em 1em;
      border-radius: 0;
      font-weight: 600;
      font-size: 0.8em !important;
    }
  }
}



.row {
  @media only screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: 50% auto;
  }
}