<div class="container">
  <div id="list-cats" *ngIf="!catergoryId">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Categories</li>
      </ol>
    </nav>
    <br>

    <div class="row">
      <div class="col-lg-2" *ngFor="let cat of catergories">
        <div class="cat" [ngStyle]="cat.Style">
          <button (click)="select(cat)"> {{cat.Name}}</button>
        </div>
      </div>

    </div>
  </div>


  <div id="list-cats" *ngIf="catergoryId && catergory">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/collections">Categories</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{catergory.Name}}</li>
      </ol>
    </nav>
    <br>
    <ul class="nav nav-tabs" *ngIf="catergory && catergory.Children">
      <li class="nav-item">
        <a class="nav-link" aria-current="page"  (click)="selectSub(null, 'all')" *ngIf="subCatergoryId">All</a>
        <a class="nav-link active" aria-current="page"  *ngIf="!subCatergoryId">All</a>
      </li>
      <li class="nav-item" *ngFor="let item of catergory.Children">
        <a class="nav-link" [ngClass]="item.Class" (click)="selectSub(item)" >{{item.Name}}</a>
      </li>
   
    </ul>
    <br>
    <div class="row" *ngIf="products && products.length">
      <div class="col-lg-3" *ngFor="let product of products  | searchproductshome:searchString; let i = index">
        <app-altra-product-details [product]="product"></app-altra-product-details>
  
      </div>
    </div>

  </div>


</div>