.qty {
  width: 8em;
  display: grid;
  grid-template-columns: 3.1em 5em 3.1em;
  position: relative;

  img {
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  span {
    margin: 0;
    text-align: center;
    border-radius: 0;
    background: rgb(219, 219, 219);
    display: block;
    font-weight: 700;
    padding: .5em;
    max-width: 88%;
    margin: 0 auto;
    border-radius: .3em;
  }
}


p {
  color: rgb(243, 63, 63);
  font-size: .75em;
  font-weight: 700;
  margin: .4em 0;
  position: relative;
  left: 0;
  padding: .5em 0;
}

button {
  width: 3em !important;
  height: 3em !important;
  border-radius: 50%;
  font-weight: 900 !important;
  padding: .5em !important;
}
