.__nav-bar {
    padding: 0.5em;
    .col {
        .btn {
            margin: 0.5em;
            position: relative;
            top: .25em;
            font-size: 1.2em !important;
        }
    }
    img {
        height: 4em;
        width: auto;
    }
}
