


<div class="__form">

  <div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
      <input type="password" [(ngModel)]="confirmPassword" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <br>
 
    <button class="btn btn-primary" *ngIf="!loading" (click)="onSubmit()">Save password</button>
    <button class="btn btn-info" *ngIf="loading">Sending ...</button>

    <br><br>
    <a routerLink="/home/sign-in">Back to login</a>
    <h5 *ngIf="error" class="error">{{error}}</h5>
  </div>
</div>