<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Customers</li>
    </ol>
  </nav>

  <br>
  <div class="row">
    <div class="col-12 col-sm-8 col-lg-5">
      <h6 class="text-muted mb-3">Customers {{(' | '+users?.length) || ''}}</h6>
      <div class="mb-3">
        <input type="search" class="form-control" [(ngModel)]="searchString"
          placeholder="🔎 Filter by name, surname, email or phone" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <button type="button" (click)="add()" class="btn btn-primary">Add customer</button>

      </div>

      <br>
      <ul class="list-group" *ngIf="users && users.length">
        <li class="list-group-item d-flex justify-content-start align-items-center"
          *ngFor="let item of users  | searchuser: searchString; let i = index">
      
          <div class="image-parent" (click)="view(item)">
            <img [src]="item.Dp" *ngIf="item.Dp" class="img-fluid" alt="quixote">
            <img *ngIf="!item.Dp" src="assets/images/user-placeholder.svg" class="img-fluid" alt="quixote">

          </div>
          <p>
            <b (click)="view(item)">{{item.Name}}</b>
            <small (click)="view(item)" class="text-muted">{{item.Email}}</small>
            <small class="text-muted"  (click)="view(item)" >{{item.PhoneNumber}}</small>
            <small class="text-muted"><a (click)="confirm($event, item)" class="link-danger">Delete</a></small>
          </p>

        </li>

      </ul>

      <app-empty-state *ngIf="!users || !users.length"
        [message]="'No customers found yet, customer list will show here.'"></app-empty-state>
    </div>
  </div>
</div>
