@import "../../../../../assets/styles/color";

.items {
  display: flex;
  background: #000000;
  justify-content: center;
  width:100%;
  margin: 0 auto;

  .item {
    margin: 0;
    position: relative;
    padding: 1em;
    text-align: center;
    font-size: 0.8em !important;

    @media only screen and (max-width: 600px) {
      padding: 1em 2em;
    }

    &:hover {
      background: $white !important;
      a {
        color: $black !important;
      }
    }

    .drop {
      position: absolute;
      padding: 0.5em;
      z-index: 100;
      width:16em;
      background: $white;
      color: $black;
      left: -2em;
      transition: 0.3s ease;
      z-index: 1000000000000;

      .drop-items {
        border-top: 3px solid $grey;
        padding: 1em;
      }
      
      .drop-item {
        border-bottom: 1px solid $cloud;
        padding: 0.5em 0;
        font-size: 0.8em;
      }
    }
  }
}

.menu-btn {
  padding: 0.7em 1em;
  grid-template-columns: repeat(4, 25%);
  background: $black;
  display: none;

  @media only screen and (max-width: 600px) {
    display: grid !important;
  }

  .item {
    border-right: 2px solid $grey;
    text-align: center;
    font-size: 0.7em;


    &:last-child {
      border: none;
    }

    a {
      font-size: 1.75em;
      color: inherit !important;
      text-align: center;
    }
  }
}

.mmmenu {
  position: relative;

  .mob-menu {
    position: absolute;
    width: 100%;
    background: rgb(34, 34, 34);

    .item {
      padding: 1em;
      text-align: left;
      border-bottom: 1px solid $black;
      font-size: 1.2em;
      color: $white;

      &:hover {
        color: $secondary;
      }

      .drop-items {
        padding: 1em;

        .drop-item {
          padding: 0.5em 0;
          color: $cloud;
        }
      }
    }
  }
}

.badge {
  font-size: 0.6em;
}
