<div class="container" *ngIf="user">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard/customers">Customers</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{heading}}</li>
    </ol>
  </nav>

  <br>


  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header bg-dark text-white"><i class="fa fa-user"></i> Customer profile.
        </div>
        <div class="card-body">
          <div>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" [(ngModel)]="user.Name" class="form-control" id="name" aria-describedby="emailHelp"
                placeholder="Enter name" required>
            </div>

            <div class="form-group">
              <label for="name">Email <address></address></label>
              <input type="email" [(ngModel)]="user.Email" class="form-control" id="name" aria-describedby="emailHelp"
                placeholder="Enter name" required>
            </div>




            <div class="form-group">
              <label for="name">My Phone Number</label>
              <input type="tel" class="form-control" [(ngModel)]="user.PhoneNumber" placeholder="e.g. 084 001 0100">
            </div>



            
            <!-- <div class="form-group">
              <label for="name">Password</label>
              <input type="password" class="form-control" [(ngModel)]="user.Password" placeholder="e.g. 084 001 0100">
            </div> -->




        
          </div>
        </div>
      </div>
      <br>

      
      <div class="card">
        <div class="card-header bg-dark text-white"><i class="fa fa-map-marker-alt"></i> Customer addresses.
        </div>
        <div class="card-body">
          <!-- <app-altra-customer-address></app-altra-customer-address> -->
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <div class="card">
        <div class="card-header bg-dark text-white">Actions
        </div>
        <div class="card-body">
          <div class="mx-auto">

            <button type="submit" style="margin-right: 1em;" type="button" (click)="back()"
            class="btn btn-light text-right">Back</button>
            <button type="submit" [disabled]="!user.Name" type="button" (click)="save()"
              class="btn btn-primary text-right">Save customer</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


