

<div class="__form">

  <div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button  class="btn btn-primary" *ngIf="!loading" (click)="Login()">Login</button>
    <button class="btn btn-primary" *ngIf="loading">Logging in ...</button>

    <br><br>
    <a routerLink="/home/forgot-password">Forgot password?</a>

    <div *ngIf="error"  class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 2em;">
      <strong>Error: </strong>{{error}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>