@import "../../../../../assets/styles/color";
.image-parent {
  max-width: 7em;
  img {
    border-radius: 0.5em;
    width: 6em;
  }
}

.selections {
  padding: 0.5em;
}

p {
  padding: 0.2em 1em;
  span,
  small {
    display: block;
  }
}

._dp {
  img {
    width: 6em;
  }
}

.qty {
  max-width: 5em;
  margin-bottom: 0.4em;
  text-align: center;
}
.badge {
  width: fit-content;
}

.list-item {
  padding: .2em 0;
  border-bottom: 1px solid $cloud;
  .images{
    position: relative;
    width: 7em;
    display: block;
    img{
      border-radius: .5em;
      width: 6em;
      position: absolute;
    }
  }
 
}