.box {
  text-align: center;
  padding: 1em;
  margin: 2em auto;

  .headering {
    padding: 1em;
    .ref {
      font-size: 0.8em;
    }
  }

  @import "../../../../../../assets/styles/color";

  .category {
    margin: 0.5em;
    position: relative;
    img {
      width: 100%;
    }
    button {
      position: absolute;
      bottom: 1em;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.5em 2em;
      border-radius: 0;
      font-weight: 600;

      @media only screen and (max-width: 600px) {
        padding: 0.4em 0.75em;
        font-size: 0.8em !important;
        margin: 0.1em;
      }
    }
  }
}

.row {
  @media only screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
  }
}
