<div class="box" *ngIf="allCategoriesWithImages && allCategoriesWithImages.length">

  <div class="container">
    <h5 class="headering d-flex justify-content-between" >
     <span> Categories</span>
     <span class="ref"><a routerLink="/collections"> View all</a></span>
    </h5>
    <div class="row">

      <div class="col-lg-4" *ngFor="let cat of allCategoriesWithImages">

        <div class="category" *ngIf="cat.ImageUrl && cat.ImageUrl.length > 4">
          <div class="cat" [ngStyle]="cat.Style">
            <button (click)="selectCategory(cat)"> {{cat.Name}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
