@import "../../../../../assets/styles/color";
.image-parent {
  max-width: 5em;
  img {
    border-radius: 0.5em;
    width: 4em;
  }
}

.selections {
  padding: 0.5em;
}

p {
  padding: 0.2em 1em;
  span,
  small {
    display: block;
  }
}



._dp {
  img {
    width: 6em;
  }
}
