<div class="____the-nav" *ngIf="primaryNgStyle">
    <div class="__nav pc-only" [ngStyle]="primaryNgStyle">
        <div class="nav-items">
            <div class="__col _logo">
                <a routerLink="/"> <img *ngIf="websiteLogo" [src]="websiteLogo.ImageUrl" alt="Logo"></a>
            </div>
            <div class="__col __search">
                <app-altra-search [styles]="searchBoxNgStyle"></app-altra-search>
            </div>
            <div class="__col account">
                <app-altra-account-nav [carttItems]="carttItems" [style]="primaryNgStyle"></app-altra-account-nav>
            </div>
        </div>
    </div>




    <div class="__nav phone-only"  [ngStyle]="primaryNgStyle">

        <app-altra-phone-nav *ngIf="websiteLogo  && primaryNgStyle" [order]=[order] [navClass]="navClass" [styles]="searchBoxNgStyle"
            [websiteLogo]="websiteLogo" [carttItems]="carttItems"> </app-altra-phone-nav>
    </div>

    <app-secondary-nav *ngIf="secondaryNgStyle" [carttItems]="carttItems" [style]="secondaryNgStyle">
    </app-secondary-nav>
</div>