@import "../../../../../../assets/styles/color";
.____totals {
    padding: 1em 0;
    h6 {
        color: $black;
        font-size: 0.85em;
        &:last-child {
            font-size: 1em;
        }
    }
}
