<div class="" *ngIf="order && order.Orderproducts && order.Orderproducts.length">



    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-start align-items-center"
            *ngFor="let item of order.Orderproducts; let i = index">

            <div class="image-parent" (click)="view(item)">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
                    {{item.Quantity}}
                </span>
                <img [src]="item.FeaturedImageUrl" *ngIf="item.FeaturedImageUrl" class="img-fluid" alt="quixote">
                <img *ngIf="!item.FeaturedImageUrl" src="assets/images/image-holder.svg" class="img-fluid"
                    alt="quixote">

            </div>
            <p>
                <b (click)="view(item)">{{item.ProductName}}</b>
                <small (click)="view(item)" class="text-muted">{{item.SubTotal |currency:'R'}}</small>
            </p>

        </li>

    </ul>
<app-altra-cart-totals></app-altra-cart-totals>

</div>


<div class="smart-overlay" *ngIf="showCart" (click)="showCart = false">

</div>
<div class="smart-modal" *ngIf="showCart">
    <div class="smart-close">
        <i class="far fa-window-close" (click)="showCart = false"></i>
    </div>
    <app-altra-cart-items></app-altra-cart-items>
</div>