@import "../../../../../../assets/styles/color";


.__actions {
    button {
        width: 100%;
        display: block;
        margin: 1em 0;
        border: 1px solid $primary !important;
        text-transform: uppercase;
    }
    .btn-light {
        border-color: $primary;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        margin-top: 1em;
    }
}


.image-parent {
    max-width: 5em;
    position: relative;
    img{
      border-radius: .5em;
      width: 3em;
      border: 1px solid $cloud;
    }
  }
  
  .selections{
    padding: .5em;
  }
  
  p {
    padding: .2em 1em;
    padding-left: 2em;
    span, small {
      display: block;
    }
  }
  
  .link-danger{
    cursor: pointer;
  }
  .position-absolute{
      z-index: 1000;
  }

.rounded-pill{
background: $silver !important;
}