<div class="" *ngIf="order && order.Orderproducts && order.Orderproducts.length">
    <div class="items">
        <div class="item" *ngFor="let item of order.Orderproducts; let i = index">
            <div class="name">{{item.Quantity}} <small>x</small> {{item.ProductName}} .... {{item.UnitPrice |
                currency:'R'}}
            </div>

        </div>
    </div>

    <p>
        Items Total : {{order.Total | currency : 'R'}}
    </p>
    <div class="item" *ngIf="order.Shipping == DELIVERY_TYPES.DELIVERY.Name && order.ShippingPrice">
        <p>
            <b> {{DELIVERY_TYPES.DELIVERY.Name}} : {{order.ShippingPrice | currency : 'R'}}</b> <small>
                {{order.DeliveryRate}}</small>
        </p>

    </div>


    <h6 class="__header _total" *ngIf="order.GrandTotal">
        Total : {{order.GrandTotal | currency : 'R'}}
    </h6>
</div>


<div class="smart-overlay" *ngIf="showCart" (click)="showCart = false">

</div>
<div class="smart-modal" *ngIf="showCart">
    <div class="smart-close">
        <i class="far fa-window-close" (click)="showCart = false"></i>
    </div>
    <app-altra-cart-items></app-altra-cart-items>
</div>