<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Discounts</li>
    </ol>
  </nav>

  <br>
  <div class="row">
    <div class="col-12 col-sm-8 col-lg-5">
      <h6 class="text-muted mb-3">Discounts {{(' | '+promotions?.length) || ''}}</h6>

      <div class="mb-3">
        <button type="button" (click)="add()" class="btn btn-primary">Create Discount</button>

      </div>

      <br>
      <ul class="list-group" *ngIf="promotions && promotions.length">
        <li class="list-group-item d-flex justify-content-start align-items-center pointer"
          *ngFor="let item of promotions;let i = index">
       <div>
        <p (click)="view(item)" >
          <b>  {{item.PromoType}}</b>
          <span class="sub">
            {{item.PromoCode || item.Name}}
         
            {{item.PromoGroup}}
         
         
            {{item.DiscountValue}} {{item.DiscountUnits}}


          </span>

          <span class="sub">
            {{item.AppliesTo}}
            {{item.MinimumRequirementValue}}   {{item.MinimumRequirements}}
          </span>
          <span class="sub">
            {{item.StartDate  | date: 'mediumDate'}} <b>{{item.StartTime}}</b>
        
            {{item.FinishDate  | date: 'mediumDate'}} <b>{{item.FinishTime}}</b>
          </span>
        </p>

        <p>
          <small class="text-muted"><a (click)="confirm($event, item)" class="link-danger">Delete</a></small>

        </p>
       </div>

        </li>

      </ul>

      <app-empty-state *ngIf="!promotions || !promotions.length"
        [message]="'No promotions found yet, promotion list will show here.'"></app-empty-state>
    </div>
  </div>
</div>

