<h3 class="heading">
  Rates
</h3>


<div class="row">
  <div class="col-lg-4">
    <input type="search" class="form-control" [(ngModel)]="searchString"
      placeholder="🔎 Filter by product name or description">

  </div>

  <div class="col-lg-2">
    <button class="btn btn-primary" (click)="add()">Add a new rate</button>
  </div>


</div>

<div class="my-table">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <div class="row" *ngIf="items && items.length">
        <div class="col-lg-8 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">Rates ({{items?.length}})</h1>
              <div class="table-responsive">
                <table class="table" *ngIf="items">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Free Kms</th>
                      <th>Amount</th>
                      <th>Off limit amount per Km</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of items; let i = index" >
                      <td>{{item.Name}}</td>
                      <td>{{(item.LimitValue || 0)}} Kms</td>
                      <td>{{item.Price | currency: 'R '}}</td>
                      <td>{{(item.OffLimitPrice || 0) | currency: 'R '}}</td>
                      <td><span class="badge bg-success">{{item.ItemStatus}}</span></td>
                      <td>
                        <button (click)="view(item)" style="margin-right: 1em;" class="btn btn-info"><i class="far fa-edit"></i></button>
                        <button (click)="delete(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!items || !items.length">
        <div class="col-lg-4 grid-margin stretch-card">
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <b>Note:</b> <br>
            No rates configured on the system
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>






<div class="quick-add" *ngIf="item">
  <div class="form">
    <h3>
      Add new rate.
    </h3>
    

    <div class="form-item">
      <label for="">Rate name</label>
      <input type="text" class="form-control" name="" id="" [(ngModel)]="item.Name">
    </div>


    <div class="form-item">
      <label for=""> Price Per day <strong>(ZAR)</strong></label>
      <input  class="form-control" type="tel" name="" id="" [(ngModel)]="item.Price" >
    </div>


    <div class="form-item">
      <label for=""> Maximum Free Kms</label>
      <input  class="form-control" type="tel" name="" id="" [(ngModel)]="item.LimitValue" >
    </div>


    <div class="form-item">
      <label for=""> Off Limit Price Per day <strong>(ZAR)</strong></label>
      <input  class="form-control" type="tel" name="" id="" [(ngModel)]="item.OffLimitPrice" >
    </div>


    <div class="form-item">
      <button  class="btn btn-secondary"  (click)="item = null" style="margin-right: 1em;">Cancel</button>
      <button (click)="save()" class="btn btn-primary" [disabled]="!item.Name">Save rate</button>
    </div>
  </div>
</div>