@import '../../../../../assets/styles/color';

.card {
  border: none;
  padding: 1em;
  border-radius: .2em;
}

// @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
// .product-details {
//   background: $cloud;
//   padding-bottom: 3em;
//   padding-top: 5em;
//   max-width: 90em;
//   margin: .2em auto;

//   @media only screen and (max-width: 600px) {
//     padding: 4em 1em;
//     padding-bottom: 1em;


//   }
// }

// .details {
//   padding: 0 2em;

//   @media only screen and (max-width: 600px) {
//     padding: 1em;

//   }

//   img {
//     cursor: zoom-in;
//   }

//   h1 {
//     padding: .2em 0;
//   }



//   .price {
//     // font-family: 'Abril Fatface', cursive;
//     font-weight: 800;

//   }
// }

// .carousel {
//   box-shadow: $box-shadow;
// }

// .action {
//   padding: 1em !important;

//   @media only screen and (max-width: 600px) {
//     padding: 0 !important;

//   }

//   button {
//     padding: 1em 2.5em !important;
//     display: block;
//     margin: 2em 0;
//   }
// }

// .view-full {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background: $white;
//   z-index: 100000;
//   text-align: center;
//   overflow: scroll;

//   img {
//     width: 100%;

//     // margin: 2em;
//     // height: 96vh;
//     img {
//       cursor: -moz-zoom-in
//     }
//   }
// }
