<div class="container">
    <div class="row">


        <div class="col-lg-8">

            <div class="card">
                <div class="card-header bg-dark text-white"><i class="fa fa-shopping-cart"></i> CART <span
                        class="badge rounded-pill bg-primary"> {{order?.CartItems || 0}}</span>
                </div>
                <div class="card-body">
                    <app-altra-cart-items></app-altra-cart-items>

                </div>
            </div>

        </div>

        <div class="col-lg-4">

            <div class="card">
                <div class="card-header bg-light"> Order summary -
                    {{order?.CartItems || 0}} items
                </div>
                <div class="card-body" *ngIf="order">

                    <app-button [btnClass]="'btn-big'" [type]="'secondary'" style="width: 100%;" (primaryButtonEvent)="show()"
                        [label]="'Add more items'"></app-button>
                    <br>
                    <app-button [btnClass]="'btn-big'" style="width: 100%;" (primaryButtonEvent)="checkout()"
                        [label]="'Proceed to checkout'">
                    </app-button>
                </div>
            </div>
        </div>
    </div>