<div class="card" *ngIf="company">
    <div class="card-body">
        <!-- <label>
            Charge Vat?
        </label>
        <select name="" id="" [(ngModel)]="company.IsVATCharged" class="form-control">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select> -->

        <div >
            <label>
                Company Name
            </label>
            <input [(ngModel)]="company.Name" class="form-control" />

            <label>
                Company Email
            </label>
            <input [(ngModel)]="company.Email" class="form-control" />


            <label>
                Company Phone
            </label>
            <input [(ngModel)]="company.Phone" class="form-control" />


            <br>
        </div>


        <br>
        <button class="btn btn-primary" (click)="save()">Save Company Info</button>

    </div>
</div>