<div class="phone-menu-bar phone-only">
  <div class="d-flex justify-content-between">
    <div class="text-muted" style="font-size: 1.5em;">
      <i class="fas fa-bars" (click)="showNav = !showNav"></i>
    </div>

    <div class="_logo">
      <img *ngIf="websiteLogo" [src]="websiteLogo.ImageUrl" alt="">
    </div>
  </div>
</div>

<div class="__main phone-only" *ngIf="showNav">

  <div class="d-flex justify-content-between">
    <div class="text-muted" style="font-size: 1.5em;">
      <i class="fas fa-times" (click)="showNav = !showNav"></i>
    </div>


    <div class="_logo">
      <img *ngIf="websiteLogo" [src]="websiteLogo.ImageUrl" alt="">
    </div>
  </div>
  <div class="nav_bar">
    <br>
    <hr>
    <br>
    <div *ngIf="item; else navItems"></div>
  </div>

</div>


<div class="pc_nav pc-only">

  <div class="d-flex justify-content-center">


    <div class="_logo">
      <br>
      <img *ngIf="websiteLogo" [src]="websiteLogo.ImageUrl" alt="">
    </div>
  </div>
  <div class="nav_bar">
    <hr>
    <br>
    <div *ngIf="item; else navItems"></div>
  </div>

</div>

<ng-template #navItems>

  <div class="__nav">
    <ul>
      <li>
        <a aria-current="page" routerLink="/admin/dashboard" routerLinkActive="active-link" (click)="showNav = !showNav"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-th-large"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/dashboard/invoices/all" routerLinkActive="active-link" (click)="showNav = !showNav">
          <i class="fas fa-file"></i>
          Orders
        </a>
      </li>
      <li>
        <a routerLink="/admin/dashboard/categories" routerLinkActive="active-link" (click)="showNav = !showNav"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-list-ul"></i>
          Catergories
        </a>
      </li>
      <li>
        <a routerLink="/admin/dashboard/products" routerLinkActive="active-link" (click)="showNav = !showNav"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-shopping-cart"></i>
          Products
        </a>
      </li>
      <li>
        <a routerLink="/admin/dashboard/promotions" routerLinkActive="active-link" (click)="showNav = !showNav"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-tag"></i>
          Promotions
        </a>
      </li>

      <li>
        <a routerLink="/admin/dashboard/banners" routerLinkActive="active-link" (click)="showNav = !showNav"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-cogs"></i>
          Settings
        </a>
      </li>
      <li>
        <a routerLink="/admin/dashboard/customers" routerLinkActive="active-link" (click)="showNav = !showNav"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-users"></i>
          Customers
        </a>
      </li>
      <li>
        <a routerLink="/" routerLinkActive="active-link" (click)="showNav = !showNav"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-store"></i>
          Shop
        </a>
      </li>
      <!-- <li>
        <a  routerLink="/admin/dashboard" routerLinkActive="active-link" (click)="showNav = !showNav"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-chart-bar"></i>
          Reports
        </a>
      </li> -->

    </ul>

    <br>
    <br>
    <hr>
    <br><br>
    <div class="__nav" *ngIf="user">
      <ul>
        <li>
          <a aria-current="page" routerLink="/admin/dashboard/edit-user-profile" routerLinkActive="active-link"
            (click)="showNav = !showNav" [routerLinkActiveOptions]="{exact: true}">
            <i class="far fa-user-circle"></i>
            {{user.Name}}
            <br>
            <small
              style="font-weight: 300; position: relative;left: 1em; text-transform: lowercase; border-bottom: 1px solid rgb(221, 221, 221);">{{user.Email}}</small>
            <br>
            <small
              style="font-weight: 300; position: relative;left: 1em; text-transform: lowercase;">{{user.UserType}}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</ng-template>