<div class="card" *ngIf="!productId">
  <a class="btn btn-light like-btn" (click)="like()">
    <i class="fas fa-heart  "></i>
  </a>
  <div class="image__">
    <img [src]="product.FeaturedImageUrl" class="card-img-top" (click)="viewMore(product)" alt="...">
  </div>
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p class="card-title">{{product.Name}}</p>
      <p class="card-title"><b>{{product.RegularPrice | currency:'R'}}</b></p>
    </div>
    <div style="text-align: left; padding: 1em 0;">
      <app-button *ngIf="addToCartLabel" (primaryButtonEvent)="addToCart($event)" [input]="product"
        [label]="addToCartLabel"></app-button>
    </div>

  </div>
</div>

<app-altra-product *ngIf="productId && product" [product]="product" (addToCartEvent)="addToCart($event)">
</app-altra-product>





<div class="smart-overlay" *ngIf="showCart" (click)="showCartEvent()">

</div>

<div class="smart-modal" *ngIf="showCart">
  <div class="smart-close d-flex justify-content-between">
    <div class="h6" style="color: #000; text-transform: capitalize; padding: .4em;">
      CART <span class="badge rounded-pill bg-dark"> {{order?.CartItems || 0}}</span>

    </div>
    <i class="far fa-window-close" (click)="showCartEvent()"></i>
  </div>
  <br><br>
  <h6 class="success alert alert-success">Added to cart successfully!

  </h6>
  <app-altra-cart-items></app-altra-cart-items>

  <div class="_bottom" *ngIf="order">

    <app-altra-cart-totals></app-altra-cart-totals>
    <div class="__actions">

      <app-button [btnClass]="'btn-big  btn-full'" [type]="'secondary'" (primaryButtonEvent)="shopMore()"
        [label]="'Add more items'"></app-button>
      <br>
      <app-button [btnClass]="'btn-big  btn-full'" (primaryButtonEvent)="checkout()" [label]="'Proceed to checkout'"></app-button>


    </div>

  </div>
</div>