// component css goes here
@import "../../../../../../assets/styles/color";

._item {
    display: grid;
    grid-template-columns: 88% auto;
    background: none;
    // width: fit-content;
    border-radius: 10em;
    // overflow: hidden;
    border: 2px solid;

    .col {
        position: relative;

        input {
            padding: 0.2em 2em;
            width: 100%;
            border: none;
            background: none;
            border: none;
            color: inherit;
        }

        button {
            width: 100%;
            padding: 0.5em;
            background: none;
            color: inherit;
        }

        .results {
            position: absolute;
            background: $white;
            padding: 1em;
            box-shadow: $box-shadow;
            z-index: 1000000;
            left: 0;
            top: 2em;
            width: 100%;
            max-height: 20em;
            overflow-y: scroll;
            .item {
                padding: 0.4em 0;
                border-bottom: 1px solid $cloud;
                display: grid;
                grid-template-columns: 4em auto;
                color: inherit;
                img {
                    width: 3.5em;
                    display: block;
                    margin: auto;
                }

                .names {
                    padding: 0.4em;
                }
            }
            // height: 100%;
        }
    }
}
