<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard/discounts">Discounts</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{heading}}</li>
    </ol>
  </nav>

  <br>
  <div class="row" *ngIf="promotion">
    <div class="col-lg-6">

      <div class="card">
        <div class="card-header bg-dark text-white">
          Apply Discount Method
        </div>
        <div class="card-body">

          <div class="form-check" *ngFor="let item of DISCOUNT_GROUP; let i = index">
            <input class="form-check-input" type="radio" [(ngModel)]="promotion.PromoGroup" [value]="item" [id]="'id'+i"
              name="flexRadioDefault">
            <label class="form-check-label pointer" [for]="'id'+i">
              {{item}}
            </label>
          </div>

          <br>
          <div class="mb-3" *ngIf="promotion.PromoGroup === DISCOUNT_GROUP[1]">
            <label for="">Promo Code</label>
            <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="promotion.PromoCode"
              aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Customer will enter this promo code at checkout</div>
          </div>
        </div>
      </div>







      <div class="card">
        <div class="card-header bg-dark text-white">
          Discount Type
        </div>
        <div class="card-body">

          <div class="form-check" *ngFor="let item of DISCOUNT_TYPES; let i = index">
            <input class="form-check-input" type="radio" [(ngModel)]="promotion.PromoType" [value]="item"
              [id]="'promo-type'+i" name="promoType">
            <label class="form-check-label pointer" [for]="'promo-type'+i">
              {{item}}
            </label>
          </div>

          <br>


          <div class="dis-val" *ngIf="promotion.PromoType === DISCOUNT_TYPES[0]">
            <label for="">Discount Value</label>
            <div class="input-group mb-3">
              <input type="number" [(ngModel)]="promotion.DiscountValue" class="form-control" placeholder="0"
                aria-label="0" aria-describedby="basic-addon2">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>

          <div class="dis-val" *ngIf="promotion.PromoType === DISCOUNT_TYPES[1]">
            <label for="">Discount Value</label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">ZAR</span>
              <input type="number" [(ngModel)]="promotion.DiscountValue" class="form-control" placeholder="0"
                aria-label="0" aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      </div>





      <div class="card">
        <div class="card-header bg-dark text-white">
          Discount Applies To
        </div>
        <div class="card-body">

          <div class="form-check" *ngFor="let item of DISCOUNT_APPLIES_TO; let i = index">
            <input class="form-check-input" type="radio" [(ngModel)]="promotion.AppliesTo" [value]="item"
              [id]="'iddd'+i" name="appliesTo">
            <label class="form-check-label pointer" [for]="'iddd'+i">
              {{item}}
            </label>
          </div>

          <br>
          <div class="" *ngIf="promotion.AppliesTo === DISCOUNT_APPLIES_TO[0]">
           <small>All products are discounted</small>
          </div>
          <div class="" *ngIf="promotion.AppliesTo === DISCOUNT_APPLIES_TO[1]">
            <button (click)="togleProductModal()" class="btn btn-dark">Select products</button>
          </div>


          <div class="" *ngIf="promotion.AppliesTo === DISCOUNT_APPLIES_TO[2]">
            <button (click)="showProductsOption = !showProductsOption" class="btn btn-dark">Select Collections</button>
          </div>

        </div>
      </div>


      <div class="card">
        <div class="card-header bg-dark text-white">
          Start & fnish dates
        </div>
        <div class="card-body">

          <div class="date-time">
            <label for=""> Start date & time</label>
            <div class="input-group mb-3">
              <input type="date" [(ngModel)]="promotion.StartDate" class="form-control" placeholder="0" aria-label="0"
                aria-describedby="basic-addon1">
              <input type="time" [(ngModel)]="promotion.StartTime" class="form-control" placeholder="0" aria-label="0"
                aria-describedby="basic-addon1">
            </div>
          </div>

          <div class="date-time">
            <label for=""> Finish date & time</label>
            <div class="input-group mb-3">
              <input type="date" [(ngModel)]="promotion.FinishDate" class="form-control" placeholder="0" aria-label="0"
                aria-describedby="basic-addon1">
              <input type="time" [(ngModel)]="promotion.FinishTime" class="form-control" placeholder="0" aria-label="0"
                aria-describedby="basic-addon1">
            </div>
          </div>
        </div>



      </div>



      <div class="card">
        <div class="card-header bg-dark text-white">
          Minimum Requirements
        </div>
        <div class="card-body">

          <div class="form-check" *ngFor="let item of DISCOUNT_MIN_RQS; let i = index">
            <input class="form-check-input" type="radio" [(ngModel)]="promotion.MinimumRequirements" [value]="item"
              [id]="'iddde'+i" name="minimumRequirements">
            <label class="form-check-label pointer" [for]="'iddde'+i">
              {{item}}
            </label>
          </div>
          <br>

          <div class="dis-val" *ngIf="promotion.MinimumRequirements !== DISCOUNT_MIN_RQS[0]">
            <label for=""> {{promotion.MinimumRequirements}}</label>
            <div class="input-group mb-3">
              <input type="number" [(ngModel)]="promotion.MinimumRequirementValue" class="form-control" placeholder="0"
                aria-label="0" aria-describedby="basic-addon2">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Actions
        </div>
        <div class="card-body">
          <button class="btn btn-light mr-2" (click)="back()">
            Back
          </button>

          <button class="btn btn-primary" (click)="savePromotion()">
            Save Promotion
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="smart-overlay" *ngIf="showProductsOption" (click)="togleProductModal()">

</div>

<div class="smart-modal smart-modal-full" *ngIf="showProductsOption">

  <div class="smart-close d-flex justify-content-between">
    <div class="h6" style="color: #000; text-transform: capitalize; padding: .4em;">
      Selected products <span class="badge rounded-pill bg-dark"> </span>

    </div>
    <i class="far fa-window-close" (click)="togleProductModal()"></i>
  </div>

  <div class="_body">
    <app-promotion-products [user]="user" [appliesValue]="promotion.AppliesValue"></app-promotion-products>
  </div>
</div>