<div class=""></div>
<div class="footer">
  <div class="linkss">
    <a class="headerlink" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">
      Company Info
      <i class="fas fa-plus-square"></i>
    </a>
    <div class="collapse sub-links" id="collapseExample">
      <a routerLink="/about">About us</a>
      <a routerLink="/terms">Terms of service</a>
      <a routerLink="/returns-policy">Return Policy</a>
    </div>


    <a class="headerlink" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
      aria-controls="collapseExample2">
      Contact Info
      <i class="fas fa-plus-square"></i>
    </a>

    <div class="collapse sub-links" id="collapseExample2">
      <a routerLink="/contact">Contact us</a>
      <a routerLink="/terms"><i class="fab fa-facebook-square"></i> PetStop on
        essenwoods</a>
      <a routerLink="/returns-policy"><i class="fab fa-instagram"></i> @PetStop_on_essenwood</a>
    </div>


  </div>

</div>
<div class="footer" style="display: none;">
  <div class="items">
    <div class="item">
      <h3>
        Find us on.
      </h3>

      <div class="social">
        <div class="icon">
          <img src="assets/images/instagram.svg" alt="">
        </div>

        <div class="name">
          <a href="https://www.instagram.com/PetStop_on_essenwood" target="_blank"
            rel="noopener noreferrer">@PetStop_on_essenwood</a>
        </div>
      </div>



      <div class="social">
        <div class="icon">
          <img src="assets/images/facebook.svg" alt="">
        </div>

        <div class="name">
          <a href="https://www.facebook.com/PetStop on essenwoods" target="_blank" rel="noopener noreferrer">PetStop on
            essenwoods </a>
        </div>
      </div>


    </div>
    <div class="item">
      <h3>
        NEED HELP?
      </h3>


      <div class="social col-1">
        <div class="name">
          <a routerLink="/about">about PetStop on essenwood</a>
        </div>
      </div>
      <div class="social col-1">
        <div class="name">
          <a routerLink="/contact">contact us</a>
        </div>
      </div>
      <div class="social col-1">
        <div class="name">
          <a routerLink="/">Home</a>
        </div>
      </div>

    </div>

    <div class="item">
      <h3>
        terms and conditions
      </h3>






      <div class="social  col-1">
        <div class="name">
          <a routerLink="/terms">Terms of service
          </a>
        </div>
      </div>



      <div class="social  col-1">
        <div class="name">
          <a routerLink="/returns-policy">Return Policy

          </a>
        </div>
      </div>


    </div>

  </div>

  <div class="power">
    <br>
    © {{year}} PetStop on essenwood.
  </div>

  <img class="phone-only" style="width: 100%; margin-top: 2em;" src="assets/images/paymenst-phone.png" alt="">
  <br>
</div>
