<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>
  </nav>

  <br>


  <div class="row">
    <div class="col-12 col-sm-8 col-lg-5">
      <h6 class="text-muted mb-3">Categories {{(' | '+parentCategories?.length) || ''}}</h6>
      <div class="mb-3">
        <input type="search" class="form-control" [(ngModel)]="searchString" placeholder="🔎 Filter by name"
          id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <button type="button" (click)="add()" class="btn btn-primary">Add category</button>
      </div>

      <br>
      <ul class="list-group" *ngIf="parentCategories && parentCategories.length">
        <li class="list-group-item d-flex justify-content-start align-items-center"
          *ngFor="let item of parentCategories  | searchitem: searchString; let i = index">

          <div class="image-parent" (click)="view(item)">
            <div>
              <img [src]="item.ImageUrl" *ngIf="item.ImageUrl" class="img-fluid" alt="quixote">
              <img *ngIf="!item.ImageUrl" src="assets/images/image-holder.svg" class="img-fluid" alt="quixote">
            </div>

          </div>
          <p style="cursor: pointer;">
            <b (click)="view(item)">{{item.Name}}</b>
            <!-- <small (click)="view(item)" class="text-muted">{{item.Email}}</small>
            <small class="text-muted"  (click)="view(item)" >{{item.PhoneNumber}}</small> -->
            <small class="text-muted"><a (click)="confirm($event, item)" class="link-danger">Delete</a></small>
          </p>

        </li>

      </ul>

      <app-empty-state *ngIf="!categories || !categories.length"
        [message]="'No categories found yet, category list will show here.'"></app-empty-state>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-3" *ngFor="let cat of categories">
      <div class="cat" [ngStyle]="{'background-image': 'url(' + cat.ImageUrl || defImage + ')'}">
        <button (click)="select(cat)"> {{cat.Name}}</button>
      </div>
    </div>

  </div> -->
</div>